@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: poppins;
}

.app-wrapper {
  max-width: 1440px;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
button {
  border: none;
  cursor: pointer;
  color: #440f7c;
}
li {
  text-decoration: none;
}

// ---------HEADER------
.header-loggedout,
.header-loggedin {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  background: #ffffff;
  margin-bottom: 15px;
}

.navLeft {
  display: flex;
  gap: 10px;
}
.loggedInNav ul,
.loggedinLinks ul {
  display: flex;
  width: 600px;
  float: left;
}
figure {
  display: flex;
  gap: 0.3rem;
}
figcaption {
  font-weight: 500;
  font-size: 14px;
  text-align: right;
  padding-top: 0.5rem;
  color: #6e6b7b;
}
.navLoggedin .figImg {
  width: 38px;
  height: 38px;
}
.logo {
  width: 10rem;
  height: 2rem;
}
.loggedout {
  display: flex;
}
.login-btn {
  width: Hug(73px);
  height: Hug(32px);
  cursor: pointer;
  border-radius: 5px;
  padding: 7px 20px;
  gap: 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
  background: #d62196;
}
.logout-btn {
  cursor: pointer;
  border-radius: 5px;
  padding: 7px 20px;
  gap: 10px;
  font-weight: 500;
  font-size: 12px;
  color: #ffffff;
  background: #d62196;
}
.signup-btn {
  width: Hug(65px);
  height: Hug(32px);
  cursor: pointer;
  border-radius: 5px;
  padding: 7px 10px 7px 10px;
  gap: 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
  background: #440f7c;
  margin-left: 10px;
}
.loggedInNav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.navLoggedin {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  // border-top: 1px solid #5e5873;
  padding-top: 30px;
}
.loggedInNav .loggedinLinks {
  display: flex;
  overflow: hidden;
}
.loggedinLinks ul {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;
  font-size: 12px;
  overflow: hidden;
  padding: 10px 4px;
}
.profileBtn {
  border-radius: 8px;
  padding: 8px;
  background: #fc09091a;
  color: #fc0909;
  font-weight: 500;
}
.appProfileBtn {
  height: 37px;
  padding: 8px;
  border-radius: 8px;
  background: #3aa14e1a;
  margin-left: 170px;
  color: #0b6b1d;
  font-weight: 500;
}
.applied-btn {
  border-radius: 5px;
  padding: 8px 40px;
  background: #dacfe5;
  font-size: 16px;
  font-weight: 500;
}
.interview-btn {
  border-radius: 5px;
  padding: 8px 40px;
  background: #f7d3ea;
  font-size: 16px;
  font-weight: 500;
  color: #d62196;
}
.completePBtn {
  width: 186px;
  height: 38px;
  border-radius: 8px;
  padding: 0px 16px 0px 16px;
  background: #fc0909;
  font-weight: 500;
  color: #ffffff;
  margin-right: 12px;
}
.navRight {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 3rem;
  color: #5e5873;
}
.navRight a {
  text-decoration: none;
}
.activeLink {
  text-decoration: none;
  border-bottom: 2px solid #d62196;
  color: #d62196;
}
.navLeft {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 21px;
}

@media (max-width: 879px) {
  .header-loggedout,
  .header-loggedin {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 3%;
    background: #ffffff;
    margin-bottom: 0.1rem;
  }
  .navLeft {
    display: flex;
    gap: 0.2rem;
  }
  .loggedInNav ul,
  .loggedinLinks ul {
    display: flex;
    width: 100%;
  }
  .loggedinLinks ul {
    display: flex;
    justify-content: space-between;
    gap: 0.9rem;
    width: 100%;
    font-size: 11px;
    overflow: hidden;
    padding: 1rem 0.4rem;
  }
  .completePBtn {
    width: 9rem;
    border-radius: 8px;
    padding: 0;
    background: #fc0909;
    font-weight: 500;
    color: #ffffff;
    font-size: 11px;
  }
  .logo {
    width: 8rem;
    height: 2rem;
  }
  .profileBtn {
    width: 7rem;
    font-size: 11px;
    border-radius: 8px;
    padding: 0.6rem;
    background: #fc09091a;
    color: #fc0909;
    font-weight: 500;
  }
  figure {
    display: flex;
    gap: 0.2rem;
  }
  figcaption {
    font-size: 11px;
    text-align: right;
    padding-top: 0.5rem;
    color: #6e6b7b;
  }
}

// ------SEARCH FILTER------
.searchFilter {
  display: flex;
  width: 100%;
  justify-content: space-between;
  box-shadow: 0px 4px 24px 0px #0000000f;
  border-radius: 8px;
}
.filters {
  display: flex;
  height: 3rem;
  gap: 2rem;
  justify-content: space-between;
  font-size: 12px;
  line-height: 18px;
}
#numberDropdown {
  height: 2.5rem;
  border: 1px solid #5e587380;
  padding: 10px;
  justify-content: space-between;
  border-radius: 8px;
}
#allDropdown {
  height: 2.5rem;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #5e587380;
  border-radius: 8px;
}
#timeDropdown {
  border: 1px solid #5e587380;
  height: 2.5rem;
  border-radius: 8px;
  justify-content: space-between;
  padding: 6px;
}
#roleDropdown {
  width: 515px;
  height: 18px;
  padding: 10px;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid #5e587380;
}
.filter-btn {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.reset-filter {
  width: 85px;
  height: 38px;
  padding: 4px;
  border: 1px solid #440f7c;
  border-radius: 8px;
}
.filter-jobs {
  width: 120px;
  height: 38px;
  border: 1px solid #440f7c;
  background: #dacfe5;
  border-radius: 8px;
}

// -----FOOTER-----
.footer {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  width: 100%;
  border-radius: 9px;
  margin: 0 auto;
  padding: 1rem 1.5rem;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: #ffffff;
  background: #440f7c;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  box-shadow: 0px 4px 24px 0px #0000000f;
}
.copyright {
  display: flex;
  justify-content: space-between;
}
.bottom-links {
  display: flex;
  justify-content: space-between;
}
.menu-icons {
  width: 18px;
  height: 18px;
  margin-left: 9px;
}
.cardFooter {
  padding: 20px;
  padding-top: 10px;
  overflow: hidden;
}
// ------JOBLIST-------
.jobList {
  display: flex;
  padding-top: 0.5rem;
}
.activeJob {
  background: #dacfe5;
}
.jobList a {
  display: flex;
  gap: 0.5rem;
  text-decoration: none;
  border-bottom: 1px solid #5e587380;
}
.cardpp img {
  height: 2.5rem;
  border-radius: 32px;
  padding: 7px;
}
.jobInfo {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.jobInfo h3 {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  text-align: left;
  padding: 5.5px;
  color: #5e5873;
  padding-bottom: 0;
}
.jobInfo p {
  font-family: Poppins;
  font-size: 10px;
  font-weight: 300;
  line-height: 15px;
  text-align: left;
  color: #5e5873;
  padding-left: 5.5px;
}
.jobloc {
  margin-top: 16px;
  display: flex;
  height: Hug(23px);
  gap: 5px;
}
.jobloc span {
  display: flex;
  border-radius: 4px;
  padding: 3px 2px 4px 5px;
  gap: 2px;
  background: #f7d3ea;
  overflow-y: hidden;
  font-family: Poppins;
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
  color: #d62196;
}
// #locIcon {
//   // top: 0.5px;
//   // margin-top: 3.5px;
// }

// -----JOB DISPLAY-----
.jobDisplay {
  width: 100%;
  height: 690px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0px 4px 24px 0px #0000000f;
  border-radius: 8px;
}
.side-bar {
  width: 28%;
}
.displayJobs {
  display: flex;
  margin-top: 1%;
}

// -----JOBCARD--------
.jobDetails {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.apply-btn {
  border-radius: 5px;
  padding: 8px 40px;
  background: #440f7c;
  color: #ffffff;
}
.jobCardHeader {
  height: 25%;
  padding-left: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #5e587380;
}
.jobCardTitle {
  display: flex;
  justify-content: space-between;
}
.jobCardTitle h2 {
  font-family: Poppins;
  font-size: 26px;
  font-weight: 500;
  line-height: 39px;
  text-align: left;
  color: #5e5873;
}

.cardText {
  margin-top: 1%;
  position: relative;
  display: flex;
  justify-content: space-between;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #5e5873;
}
.cardText h6 {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #5e5873;
}
@media (max-width: 879) {
  .side-bar {
    width: 50%;
  }
}
// -------JOB DESCRIPTION-----
.description {
  width: 100%;
  padding: 1rem;
  color: #5e5873;
  font-family: Poppins;
  font-size: 13px;
  font-weight: 400;
  line-height: 19.5px;
  text-align: left;
}
.description::-webkit-scrollbar {
  display: none;
}
.description h4 {
  font-size: 13px;
  font-weight: 700;
  text-align: left;
  color: #5e5873;
}
.description h5 {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.5px;
  text-align: left;
}
.description span {
  font-size: 13px;
  font-weight: 400;
  text-align: left;
}
.description .top {
  margin-bottom: 1rem;
}
.description .others {
  margin-bottom: 1.2rem;
}
.descrption-list {
  margin-bottom: 1rem;
}

// ----------PROFILE-----------
.Editbtn {
  display: flex;
  gap: 0.2rem;
  color: #d62196;
  border: none;
  background: none;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
}
.Editbtn img {
  width: 1rem;
  height: 1rem;
}

.profile-header {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2rem;
  color: #5e5873;
  box-shadow: 0px 4px 24px 0px #0000000f;
  border-radius: 10px;
  padding: 1rem;
}

.profile-header > div {
  box-shadow: 0px 4px 24px 0px #0000000f;
  border-radius: 10px;
  padding: 1rem;
}

.profile-header > div:nth-child(1),
.profile-header > div:nth-child(2),
.profile-header > div:nth-child(3) {
  grid-column: span 2;
}
.profile-header > div:nth-child(4) {
  grid-column: span 6;
}
.profile-header > div:nth-child(5) {
  grid-column: span 6;
}
.profile-header > div:nth-child(6) {
  grid-column: span 3;
}
.profile-header > div:nth-child(7) {
  grid-column: span 3;
}
.info-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.profilePic {
  width: 100%;
  justify-content: space-between;
  padding: 7%;
}
.profilePp {
  width: 12rem;
  height: 10rem;
}
.profilePic figcaption {
  margin-top: 2rem;
  margin-right: 2rem;
  justify-content: center;
  text-align: left;
  width: 50%;
}
.profilePic figcaption h4 {
  font-size: 16px;
  font-weight: 500;
  color: #5e5873;
}
.profilePic figcaption p {
  font-size: 12px;
  font-weight: 400;
  color: #5e5873;
}
.profilePic span {
  display: flex;
  gap: 8px;
  font-size: 20px;
}
.personal-info .section1 {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  gap: 1rem;
}
.sec {
  display: flex;
  gap: 2rem;
}
.sec h5 {
  font-size: 12px;
  font-weight: 500;
  text-align: left;
  color: #5e5873;
}
.sec p {
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
  text-align: left;
  color: #5e5873;
}
.compt {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.compt div {
  display: flex;
  gap: 0.3rem;
}
.compt h5 {
  font-size: 13px;
  font-weight: 500;
  text-align: left;
}
.compt span {
  font-size: 9px;
  text-align: left;
  color: #d62196;
  border: 1px solid#D62196;
  border-radius: 0.3rem;
  padding: 0.4rem;
  margin: 2px;
}
.aboutMe {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.aboutMe p {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
}
.exp {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1.5rem;
}
.exp h3 {
  display: flex;
  font-size: 12px;
  font-weight: 500;
  gap: 0.9rem;
  line-height: 28px;
}
.exp span {
  display: flex;
  font-size: 11px;
  gap: 1rem;
}
.exp p {
  font-size: 10px;
}
.exp ul {
  list-style: disc;
  padding-left: 1rem;
  font-size: 12px;
}
.education {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.education h3 {
  margin-top: 0.8rem;
  font-size: 12px;
  font-weight: 500;
}
.education h5 {
  font-size: 11px;
  font-weight: 400;
}
.education span {
  font-size: 10px;
}
.docs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.docs div {
  margin-top: 0.8rem;
  display: flex;
  gap: 1rem;
  line-height: 28px;
}
.docs h3 {
  background: #ea4335;
  color: #ffffff;
  font-size: 15px;
  font-weight: 600;
  padding: 0.2rem 0.3rem;
  border-radius: 2px;
}
.docs h5 {
  font-size: 12px;
  font-weight: 500;
}
.docs a {
  color: #d62196;
  font-size: 11px;
  text-decoration: none;
}
.mobile {
  display: none;
}

.hamburger {
  padding-top: 0.7rem;
  padding-right: 1rem;
  color: #440f7c;
  cursor: pointer;
  display: none;
}

@media (max-width: 989px) {
  .filters {
    display: flex;
    height: 3rem;
    width: 65%;
    gap: 0.3rem;
    justify-content: space-between;
    font-size: 10px;
    line-height: 18px;
  }
  #roleDropdown {
    width: 197px;
    height: 15px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #5e587380;
  }
  #timeDropdown {
    border: 1px solid #5e587380;
    height: 2.2rem;
    border-radius: 8px;
    justify-content: space-between;
    padding: 3px;
  }
  #numberDropdown {
    height: 2.2rem;
    border: 1px solid #5e587380;
    padding: 3px;
    justify-content: space-between;
    border-radius: 8px;
  }
  #allDropdown {
    height: 2.2rem;
    justify-content: space-between;
    padding: 3px;
    border: 1px solid #5e587380;
    border-radius: 8px;
  }
  .filter-btn {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }
  .reset-filter {
    width: 85px;
    height: 2.2rem;
    padding: 4px;
    border: 1px solid #440f7c;
    border-radius: 8px;
  }
  .filter-jobs {
    width: 120px;
    height: 2.2rem;
    border: 1px solid #440f7c;
    background: #dacfe5;
    border-radius: 8px;
  }

  .side-bar {
    width: 45%;
    padding-right: 1%;
  }
  .jobCardHeader {
    height: 31%;
  }
  .jobCardTitle h2 {
    font-size: 20px;
  }

  .cardText {
    font-size: 12px;
  }
  .cardText h6 {
    font-size: 11px;
  }
  .interview-btn {
    font-size: 12px;
  }
  .description {
    font-size: 10px;
  }
  .description h4 {
    font-size: 12px;
  }
  .description h5 {
    font-size: 12px;
  }
  .description span {
    font-size: 10px;
  }
  .profile-header > div:nth-child(1),
  .profile-header > div:nth-child(2) {
    grid-column: span 3;
  }
  .profile-header > div:nth-child(3),
  .profile-header > div:nth-child(6),
  .profile-header > div:nth-child(7) {
    grid-column: span 6;
  }
  .compt span {
    font-size: 9px;
    text-align: left;
    color: #d62196;
    border: 1px solid#D62196;
    border-radius: 0.3rem;
    padding: 0.4rem 2.3rem;
    margin: 2px;
  }
}

@media (max-width: 540px) {
  .navLoggedin {
    display: none;
  }
  .profile-header > div:nth-child(1),
  .profile-header > div:nth-child(2),
  .profile-header > div:nth-child(6),
  .profile-header > div:nth-child(7) {
    grid-column: span 6;
  }
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border-radius: 0;
    padding: 0;
  }
  .copyright {
    display: flex;
    gap: 2rem;
  }
  .menu-icons {
    width: 15px;
    height: 15px;
  }
  .compt span {
    font-size: 9px;
    text-align: left;
    color: #d62196;
    border: 1px solid#D62196;
    border-radius: 0.3rem;
    padding: 0.2rem 0.2rem;
    margin: 2px;
  }
  .profilePp {
    width: 6rem;
    height: 6rem;
  }
  .profilePic figcaption {
    text-align: left;
    width: 55%;
  }
  .profilePic figcaption h4 {
    font-size: 13px;
    font-weight: 500;
    color: #5e5873;
  }
  .profilePic figcaption p {
    font-size: 10px;
    font-weight: 400;
    color: #5e5873;
  }
  .profilePic span {
    display: flex;
    gap: 6px;
    font-size: 15px;
  }
}

@media (max-width: 540px) {
  .compt span {
    font-size: 6px;
    text-align: left;
    color: #d62196;
    border: 1px solid#D62196;
    border-radius: 0.3rem;
  }
  .docs h3 {
    font-size: 12px;
  }
  .docs h5 {
    font-size: 10px;
  }
  .exp h3 {
    font-size: 10px;
    font-weight: 500;
    gap: 0.3rem;
  }
  .exp span {
    display: flex;
    font-size: 9px;
    gap: 0.3rem;
  }
  .exp p {
    font-size: 8px;
  }
  .exp ul {
    font-size: 10px;
  }
  .sec {
    display: flex;
    gap: 1rem;
  }
  .sec h5 {
    font-size: 10px;
  }
  .sec p {
    font-size: 9px;
  }
  .aboutMe p {
    font-size: 10px;
  }
  .logout-btn {
    display: none;
  }
  .hamburger {
    display: block;
  }
}
@media (max-width: 540px) {
  .searchFilter {
    display: none;
  }
  .displayJobs .side-bar {
    // display: none;
  }
  .jobDetails {
    display: none;
  }
  .displayJobs {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }
  .mobile {
    display: block;
    width: 30rem;
    padding-left: 30%;
  }
  .mobile .cardpp img {
    width: 4rem;
    height: 4rem;
  }
  .mobile .jobInfo {
    width: 15rem;
  }
  .side-bar {
    display: none;
  }
}
@media (max-width: 350px) {
  .mobile .cardpp img {
    width: 3rem;
    height: 3rem;
  }
  .mobile .jobInfo {
    width: 12rem;
  }
  .mobile {
    display: block;
    width: 30rem;
    padding-left: 45%;
  }
}

.mobileNav {
  width: 100%;
  height: 100%;
  // display: none;
  z-index: 0;
}
.mobileNav .navLeft {
  width: 100%;
  padding: 3% 0;
  border-bottom: 1px solid #5e5873;
}
.mobileNav .figImg {
  width: 2rem;
  height: 2rem;
}

.mobileNav .completePBtn {
  font-size: 12px;
  padding: 0;
  height: 1.6rem;
}
.mobileNav .profileBtn {
  height: 1.6rem;
  padding: 0;
}
.mobileNav .rightNav {
  margin-top: 3rem;
  text-decoration: none;
}
.mobileNav .rightNav ul {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  font-size: 13px;
}
.mobileNav .rightNav li {
  text-align: left;
  padding-left: 5%;
  padding-bottom: 2%;
  border-bottom: 1px solid #5e5873;
}

.mobileNav span {
  color: #5e5873;
  text-decoration: none;
  padding-left: 0.5rem;
}
.mobileNav .logoutbtn {
  width: 100%;
  color: #ffffff;
  border-radius: 6px;
  background: #d62196;
  padding: 0.8rem 1rem;
  margin: 2rem 0;
}
.logoutnav {
  width: 100%;
}
.header-loggedout,
.header-loggedin {
  border-bottom: 1px solid #5e5873;
}
@media (max-width: 350px) {
  .mobileNav .completePBtn {
    font-size: 9px;
    width: 7rem;
    height: 1.3rem;
  }
  .mobileNav .profileBtn {
    height: 1.3rem;
    width: 6rem;
  }
  .mobileNav figure {
    width: 30%;
  }
}

// --------MODAL---------
.modalBackgraound {
  width: 100%;
  height: 100%;
  background-color: rgba(200, 200, 200);
  // position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  // z-index: 0;
  // z-index: 10;
}
.modalX {
  background: transparent;
  border: 2px solid black;
  color: black;
  border-radius: 59px;
  padding: 0.2rem 0.5rem;
  font-size: 15px;
  float: right;
}
.Modalheader {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #bdbdc74a;
}
.Modalheader h3 {
  font-size: 18px;
  font-weight: 500;
  color: #5e5873;
}
.Modalbody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-top: 1.8rem;
}
.loginHead {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  color: #5e5873;
}
.loginHead h2 {
  font-size: 26px;
  font-weight: 500;
}
.loginHead h5 {
  font-size: 14px;
  font-weight: 400;
  
}
.modalForm {
  padding-top: 0.5rem;
  display: flex;
  flex-direction: column;
  color: #5e5873;
}
.modalForm label {
  font-size: 16px;
}
.modalForm label span {
  font-size: 16px;
  color: #FC0909;
}
.modalForm input{
  border: 1px solid #BDBDC7;
  padding: 0.4rem;
  width: 28rem;
  border-radius: 0.3rem;
}
.Modalfooter{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}
.Modalfooter .login-btn{
padding: 0.4rem 4rem;
}
.Modalfooter .signup-btn{
  padding: 0.4rem 4rem;
}
  
