@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: poppins;
}

.app-wrapper {
  max-width: 1440px;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
button {
  border: none;
  cursor: pointer;
  color: #440f7c;
}

// ---------HEADER------
.header-loggedout,
.header-loggedin {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 37px;
  padding: 20px;
  background: #ffffff;
  margin-bottom: 15px;
}

.navLeft {
  display: flex;
  width: 465px;
  height: 38px;
  gap: 10px;
  margin-left: 94px;
}
.loggedInNav ul,
.loggedinLinks ul {
  display: flex;
  width: 600px;
  height: Hug(44px);
  gap: 16px;
  float: left;
}
figure {
  display: flex;
  line-height: 12px;
  width: 110px;
  height: 38px;
  gap: 8px;
  padding-right: 12px;
}
figcaption {
  width: 63px;
  font-weight: 500;
  font-size: 14px;
  text-align: right;
  line-height: 21px;
  padding-top: 8px;
  color: #6e6b7b;
}
.navLoggedin
.figImg {
  width: 38px;
  height: 38px;
}
.logo {
  width: 151px;
  height: 31px;
}
.loggedout {
  display: flex;
}
.login-btn {
  width: Hug(73px);
  height: Hug(32px);
  cursor: pointer;
  border-radius: 5px;
  padding: 7px 20px 7px 20px;
  gap: 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
  background: #d62196;
}
.logout-btn {
  width: Hug(82px);
  height: Hug(32px);
  cursor: pointer;
  border-radius: 5px;
  padding: 7px 20px 7px 20px;
  gap: 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
  background: #d62196;
}
.signup-btn {
  width: Hug(65px);
  height: Hug(32px);
  cursor: pointer;
  border-radius: 5px;
  padding: 7px 10px 7px 10px;
  gap: 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
  background: #440f7c;
  margin-left: 10px;
}
.loggedInNav {
  width: 100%;
  height: 39px;
  display: flex;
  justify-content: space-between;
}
.navLoggedin {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  border-top: 1px solid #5e5873;
  padding-top: 30px;
}
.loggedInNav .loggedinLinks {
  display: flex;
  // width: 818px;
  height: 30px;
  padding: 0px;
  overflow: hidden;
}
.loggedinLinks ul {
  display: flex;
  justify-content: space-between;
  gap: 21px;
  width: 100%;
  height: 40px;
  font-size: 12px;
  overflow: hidden;
  padding: 10px 4px;
}
.profileBtn {
  width: 130px;
  height: 37px;
  border-radius: 8px;
  padding: 8px;
  gap: 10px;
  background: #fc09091a;
  color: #fc0909;
  font-weight: 500;
}
.appProfileBtn {
  width: 144px;
  height: 37px;
  padding: 8px;
  border-radius: 8px;
  background: #3aa14e1a;
  margin-left: 170px;
  color: #0b6b1d;
  font-weight: 500;
}
.applied-btn {
  width: 142px;
  height: 40px;
  border-radius: 5px;
  padding: 8px 40px;
  background: #dacfe5;
  font-size: 16px;
  font-weight: 500;
}
.interview-btn {
  width: 241px;
  height: 40px;
  border-radius: 5px;
  padding: 8px 40px;
  background: #f7d3ea;
  font-size: 16px;
  font-weight: 500;
  color: #d62196;
}
.completePBtn {
  width: 186px;
  height: 38px;
  border-radius: 8px;
  padding: 0px 16px 0px 16px;
  background: #fc0909;
  font-weight: 500;
  color: #ffffff;
  margin-right: 12px;
}
.navRight {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 34px;
  color: #5e5873;
}
.navRight a {
  text-decoration: none;
}
.activeLink {
  text-decoration: none;
  border-bottom: 2px solid #d62196;
  color: #d62196;
}
.navLeft {
  display: flex;
  justify-content: space-between;
  width: 40%;
  font-size: 14px;
  line-height: 21px;
}

// ------SEARCH FILTER------
.searchFilter {
  display: flex;
  width: 100%;
  height: Fixed(38px);
  justify-content: space-between;
}
.filters {
  display: flex;
  height: 60px;
  gap: 29px;
  justify-content: space-between;
  font-size: 12px;
  line-height: 18px;
}
#numberDropdown {
  width: 8%;
  height: 38px;
  border: 1px solid #5e587380;
  padding: 10px;
  justify-content: space-between;
  border-radius: 8px;
}
#allDropdown {
  width: 10%;
  height: 38px;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #5e587380;
  border-radius: 8px;
}
#timeDropdown {
  border: 1px solid #5e587380;
  width: 16%;
  height: 38px;
  border-radius: 8px;
  justify-content: space-between;
  padding: 6px;
}
#roleDropdown {
  width: 515px;
  height: 18px;
  padding: 10px;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid #5e587380;
}
.filter-btn {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.reset-filter {
  width: 85px;
  height: 38px;
  padding: 4px;
  border: 1px solid #440f7c;
  border-radius: 8px;
}
.filter-jobs {
  width: 120px;
  height: 38px;
  border: 1px solid #440f7c;
  background: #dacfe5;
  border-radius: 8px;
}
// -----FOOTER-----
.footer {
  display: flex;
  justify-content: space-between;
  max-width: 1240px;
  width: 98%;
  border-radius: 9px;
  height: Hug(64px);
  margin: 0 auto;
  top: 1445.83px;
  padding: 20px 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: #ffffff;
  background: #440f7c;
  margin-bottom: 30px;
  margin-top: 30px;
}
.copyright {
  width: Hug(212px);
  height: Hug(24px);
  gap: 17px;
  display: flex;
  justify-content: space-between;
}
.bottom-links {
  display: flex;
  justify-content: space-between;
  width: Hug(210px);
  height: Hug(24px);
  gap: 17px;
}
.menu-links {
  width: Hug(123px);
  height: Hug(18px);
  gap: 17px;
}
.menu-icons {
  width: 18px;
  height: 18px;
  margin-left: 9px;
}
.cardFooter{
  padding: 15px;
  overflow: hidden;
}
// ------JOBLIST-------
.jobList {
  display: flex;
  width: 100%;
  padding-top: 3%;
}
.jobList a {
  display: flex;
  gap: 12px;
  text-decoration: none;
  padding-bottom: 2%;
  margin-bottom: 10%;
  border-bottom: 1px solid #5e587380;
}
.cardpp img {
  height: 40px;
  border-radius: 32px;
}
.jobInfo {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.jobInfo h3 {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  text-align: left;
  color: #5e5873;
}
.jobInfo p {
  font-family: Poppins;
  font-size: 10px;
  font-weight: 300;
  line-height: 15px;
  text-align: left;
  color: #5e5873;
}
.jobloc {
  margin-top: 16px;
  display: flex;
  height: Hug(23px);
  gap: 5px;
}
.jobloc span {
  display: flex;
  height: 15px;
  border-radius: 4px;
  padding: 3px 2px 4px 5px;
  gap: 2px;
  background: #f7d3ea;
  overflow-y: hidden;
  font-family: Poppins;
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
  color: #d62196;
}
#locIcon {
  width: 8px;
  height: 8px;
  top: 0.5px;
  margin-top: 3.5px;
}

// -----JOB DISPLAY-----
.jobDisplay {
  width: 100%;
  height: 690px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.side-bar {
  width: 28%;
}
.displayJobs {
  display: flex;
  margin-top: 1%;
}

// -----JOBCARD--------
.jobDetails {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 32px;
}
.apply-btn {
  width: Hug(127px);
  height: Hug(40px);
  border-radius: 5px;
  padding: 8px 40px 8px 40px;
  gap: 10px;
  background: #440f7c;
  color: #ffffff;
}
.jobCardHeader {
  height: 170px;
  padding-left: 17px;
  padding-bottom: 2px;
  border-bottom: 1px solid #5e587380;
}
.jobCardTitle {
  display: flex;
  height: Hug(40px);
  justify-content: space-between;
}
.jobCardTitle h2 {
  font-family: Poppins;
  font-size: 26px;
  font-weight: 500;
  line-height: 39px;
  text-align: left;
  color: #5e5873;
}

.cardText {
  margin-top: 1%;
  position: relative;
  height: Hug(21px);
  display: flex;
  justify-content: space-between;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #5e5873;
}
.cardText h6 {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #5e5873;
}

.description{
  width: 98%;
  // border: 2px solid red;
  padding: 10px;
}
.description::-webkit-scrollbar{
  display: none;
}